$grayColor: #f2f2f2;
.form_pannel {
  background: $grayColor;
  padding: 55px 40px;
}

.SubscribeHeading {
  font-size: 1.5rem;
}

.btn.BtnSubscribe {
  //var
  $paddingXl: 0.6rem;
  // properties
  width: 10rem;
  padding: {
    top: $paddingXl;
    bottom: $paddingXl;
  }
}
