@mixin postThumbImageSize {
    width: 10rem;
    height: 6rem;
} 

.thumbnail {
    @include postThumbImageSize();
    object-fit: cover;
}

.c_post_thumb{
    &.c_post_thumb_modifier {
        margin-top: 0.85rem;
    }
}

.heading {
    font: {
        size: 15.5px;
    }
    &.heading_modifier {
        margin-top: 1.15rem;
    }
}